### NOTEARS Analysis: Robustness to datatypes (a)

Given that the paper mainly conducted their evaluation on measurements (continuous data), we seek to evaluate the algorithm further 

As the paper mentioned, the problem formulation should be agnostic to the form of data used. It suggests that the model should not make assumptions about the datatype. However, the paper's experiments did not include evaluation of robustness / sensitivity analysis against types of data for the structural discovery task.

Hence, we seek to test the sensitivity of NOTEARS towards different datatypes when learning the weighted adjacency matrix representing a  directed graph. (i.e. learning the graph from categorical data vs binary data)

To test this statement, we will conduct the following experiments: 

1. learning the graph from (nominal) categorical data vs binary data 
- using the student-por.csv dataset: representing possible factors influencing student's performance (grades)

### Load data

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('../data/student/student-por.csv', delimiter=';')
data.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
drop_col = ['school','sex','age','Mjob', 'Fjob','reason','guardian']
data = data.drop(columns=drop_col)
data.head(5)

,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,U,GT3,A,4,4,2,2,0,yes,no,...,4,3,4,1,1,3,4,0,11,11
1,U,GT3,T,1,1,1,2,0,no,yes,...,5,3,3,1,1,3,2,9,11,11
2,U,LE3,T,1,1,1,2,0,yes,no,...,4,3,2,2,3,3,6,12,13,12
3,U,GT3,T,4,2,1,3,0,no,yes,...,3,2,2,1,1,5,0,14,14,14
4,U,GT3,T,3,3,1,2,0,no,yes,...,4,3,2,1,2,5,0,11,13,13

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = le.fit_transform(struct_data[col])

struct_data.head(5)

In [48]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

## Cat -> Binary

### Categorical Data

In [5]:
## take all the datatype of the same scale (0-5)
## nomimal 

# data_bin = 
nom_cat_data = ['Medu', 'Fedu', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'G1', 'G2', 'G3']

# 7 Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
# 8 Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
# 24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
# 25 freetime - free time after school (numeric: from 1 - very low to 5 - very high)
# 26 goout - going out with friends (numeric: from 1 - very low to 5 - very high)
# 27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
# 28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
# 29 health - current health status (numeric: from 1 - very bad to 5 - very good)

## TODO: change to 0-5? 
# 31 G1 - first period grade (numeric: from 0 to 20): [0-5, ]
# 31 G2 - second period grade (numeric: from 0 to 20)
# 32 G3 - final grade (numeric: from 0 to 20, output target)

In [38]:
def map_data(x):
    if x >=0 and x< 3:
        return 1
    elif x>=4 and x<8:
        return 2
    elif x>=8 and x<12: 
        return 3
    elif x>=12 and x<16: 
        return 4
    elif x>=16:
        return 5

0      1
1      3
2      4
3      4
4      3
      ..
644    3
645    4
646    3
647    3
648    3
Name: G1, Length: 649, dtype: int64

In [40]:
data[nom_cat_data].describe()

,Medu,Fedu,famrel,freetime,goout,Dalc,Walc,health,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,2.514638,2.306626,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,11.399076,11.570108,11.906009
std,1.134552,1.099931,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,2.745265,2.913639,3.230656
min,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,10.000000,10.000000,10.000000
50%,2.000000,2.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,11.000000,11.000000,12.000000
75%,4.000000,3.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,13.000000,13.000000,14.000000
max,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,19.000000,19.000000,19.000000

In [68]:
nom_cat_data_df = data[nom_cat_data]
nom_cat_data_df['Medu'] = nom_cat_data_df['Medu'].map(data_map)
nom_cat_data_df['Fedu'] = nom_cat_data_df['Fedu'].map(data_map)
nom_cat_data_df['G1'] = nom_cat_data_df['G1'].map(map_data)
nom_cat_data_df.drop(['G2', 'G3'], axis=1, inplace=True)
nom_cat_data_df.describe()

/var/folders/z2/338wc_l91cb7482t8gghnrxc0000gn/T/ipykernel_82308/2406869062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nom_cat_data_df['Medu'] = nom_cat_data_df['Medu'].map(data_map)
/var/folders/z2/338wc_l91cb7482t8gghnrxc0000gn/T/ipykernel_82308/2406869062.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nom_cat_data_df['Fedu'] = nom_cat_data_df['Fedu'].map(data_map)
/var/folders/z2/338wc_l91cb7482t8gghnrxc0000gn/T/ipykernel_82308/2406869062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nom_cat_data_df['G1'] = nom_cat_data_df['G1'].map(map_data)
/var/folders/z2/338wc_l91cb7482t8gghnrxc0000gn/T/ipykernel_82308/2406869062.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nom_cat_data_df.drop(['G2', 'G3'], axis=1, inplace=True)

,Medu,Fedu,famrel,freetime,goout,Dalc,Walc,health,G1
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,3.514638,3.306626,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.463790
std,1.134552,1.099931,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,0.742659
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,2.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,3.000000
50%,3.000000,3.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,3.000000
75%,5.000000,4.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [93]:
#### To learn causal graph from nominal categorical data 
from causalnex.structure.notears import from_pandas
from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE
import random

# Set the random seed for numpy
np.random.seed(50)
# Set the random seed for Python's built-in random module
random.seed(50)

sm = from_pandas(nom_cat_data_df)

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)
viz.toggle_physics(False)
viz.show("graph_viz/nom_cat_data.html")

In [94]:
sm.get_edge_data('Dalc', 'Walc')

{'origin': 'learned', 'weight': 1.3351066962372045}

In [95]:
for node in sm.adjacency(): 
    print(node)

## transform

('Medu', {'Fedu': {'origin': 'learned', 'weight': 1.6911382295183413e-06}, 'famrel': {'origin': 'learned', 'weight': 0.08188721796671379}, 'freetime': {'origin': 'learned', 'weight': 3.546701797754018e-05}, 'goout': {'origin': 'learned', 'weight': 9.624293280997623e-06}, 'Dalc': {'origin': 'learned', 'weight': 0.0001941583159864375}, 'Walc': {'origin': 'learned', 'weight': 5.36291372242792e-05}, 'health': {'origin': 'learned', 'weight': 2.2854562482295674e-05}, 'G1': {'origin': 'learned', 'weight': 0.3211351680709189}})
('Fedu', {'Medu': {'origin': 'learned', 'weight': 0.8086639448294071}, 'famrel': {'origin': 'learned', 'weight': 0.04804115222530964}, 'freetime': {'origin': 'learned', 'weight': 1.2191924401560561e-05}, 'goout': {'origin': 'learned', 'weight': 3.6841857339031815e-06}, 'Dalc': {'origin': 'learned', 'weight': 6.748637287294813e-05}, 'Walc': {'origin': 'learned', 'weight': 1.789323032016848e-05}, 'health': {'origin': 'learned', 'weight': 8.049527375354165e-06}, 'G1': {'origin': 'learned', 'weight': 0.20407115716435564}})
('famrel', {'Medu': {'origin': 'learned', 'weight': 8.72686328041377e-06}, 'Fedu': {'origin': 'learned', 'weight': 4.02313761263063e-05}, 'freetime': {'origin': 'learned', 'weight': 3.307454594914921e-05}, 'goout': {'origin': 'learned', 'weight': 9.792824985353537e-06}, 'Dalc': {'origin': 'learned', 'weight': 0.00014737602760384684}, 'Walc': {'origin': 'learned', 'weight': 3.379787818219761e-05}, 'health': {'origin': 'learned', 'weight': 2.4707818915319673e-05}, 'G1': {'origin': 'learned', 'weight': 1.5200568973313014e-06}})
('freetime', {'Medu': {'origin': 'learned', 'weight': 0.08222621882833994}, 'Fedu': {'origin': 'learned', 'weight': 0.32162452669129804}, 'famrel': {'origin': 'learned', 'weight': 0.21765427957612957}, 'goout': {'origin': 'learned', 'weight': 0.5860156009935247}, 'Dalc': {'origin': 'learned', 'weight': 4.780478890265414e-06}, 'Walc': {'origin': 'learned', 'weight': 1.5445441502824716e-06}, 'health': {'origin': 'learned', 'weight': 0.7395572857649523}, 'G1': {'origin': 'learned', 'weight': 0.20327479334464027}})
('goout', {'Medu': {'origin': 'learned', 'weight': 0.09349232186609041}, 'Fedu': {'origin': 'learned', 'weight': 0.26804906086747765}, 'famrel': {'origin': 'learned', 'weight': 0.18523147912249144}, 'freetime': {'origin': 'learned', 'weight': 4.431264983515465e-06}, 'Dalc': {'origin': 'learned', 'weight': 1.5857171805969564e-05}, 'Walc': {'origin': 'learned', 'weight': 3.8359418618490846e-06}, 'health': {'origin': 'learned', 'weight': 3.015529303009033e-05}, 'G1': {'origin': 'learned', 'weight': 0.1509603268448709}})
('Dalc', {'Medu': {'origin': 'learned', 'weight': 0.06728434067076465}, 'Fedu': {'origin': 'learned', 'weight': 0.0823462255863315}, 'famrel': {'origin': 'learned', 'weight': 0.054060532117771495}, 'freetime': {'origin': 'learned', 'weight': 0.6432031555777901}, 'goout': {'origin': 'learned', 'weight': 0.06299052492561762}, 'Walc': {'origin': 'learned', 'weight': 1.3351066962372045}, 'health': {'origin': 'learned', 'weight': 0.14107571901282265}, 'G1': {'origin': 'learned', 'weight': -0.017684053436715415}})
('Walc', {'Medu': {'origin': 'learned', 'weight': -0.04527435828800911}, 'Fedu': {'origin': 'learned', 'weight': 0.05811593347668202}, 'famrel': {'origin': 'learned', 'weight': -0.07877672480329828}, 'freetime': {'origin': 'learned', 'weight': 0.6926787758765598}, 'goout': {'origin': 'learned', 'weight': 0.3900319331633065}, 'Dalc': {'origin': 'learned', 'weight': 1.8862400886536894e-06}, 'health': {'origin': 'learned', 'weight': 0.3226912356932392}, 'G1': {'origin': 'learned', 'weight': -0.019917717296734347}})
('health', {'Medu': {'origin': 'learned', 'weight': 0.06498206147828364}, 'Fedu': {'origin': 'learned', 'weight': 0.28529254642155344}, 'famrel': {'origin': 'learned', 'weight': 0.17740495227760497}, 'freetime': {'origin': 'learned', 'weight': 3.1762176446010603e-06}, 'goout': {'origin': 'learned', 'weight': 0.06777806306455343}, 'Dalc': {'origin': 'learned', 'weight': 1.4498539412148863e-05}, 'Walc': {'origin': 'learned', 'weight': 3.7374438477065554e-06}, 'G1': {'origin': 'learned', 'weight': 0.14013271423268484}})
('G1', {'Medu': {'origin': 'learned', 'weight': 2.028398417279545e-06}, 'Fedu': {'origin': 'learned', 'weight': 8.499142396337962e-06}, 'famrel': {'origin': 'learned', 'weight': 0.46551718493947736}, 'freetime': {'origin': 'learned', 'weight': 3.4353866089606386e-05}, 'goout': {'origin': 'learned', 'weight': 1.1789792032859273e-05}, 'Dalc': {'origin': 'learned', 'weight': 0.00020266655117648222}, 'Walc': {'origin': 'learned', 'weight': 5.142434942468493e-05}, 'health': {'origin': 'learned', 'weight': 3.089451252761468e-05}})

In [76]:
sm.get_edge_data('G1', 'Medu')
# {'origin': 'learned', 'weight': 2.028398417279545e-06}
sm.get_edge_data('Medu', 'G1')
# {'origin': 'learned', 'weight': 0.3211351680709189}

# yes algorithm learns both directions; 
# using threshold to filter out the values;

{'origin': 'learned', 'weight': 2.028398417279545e-06}

In [79]:
sm.get_edge_data('Fedu', 'Medu')
# {'origin': 'learned', 'weight': 0.8086639448294071}
sm.get_edge_data('Medu', 'Fedu')
# {'origin': 'learned', 'weight': 1.6911382295183413e-06}

{'origin': 'learned', 'weight': 1.6911382295183413e-06}

In [82]:
sm.remove_edges_below_threshold(0.4)
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)
viz.toggle_physics(0)
viz.show("graph_viz/nom_cat_thresholded.html")

graph_viz/nom_cat_thresholded.html

### Binary Data

In [86]:
## change to binary
def bin_map(x): 
    if x >= 0 and x < 3: 
        return 0
    if x >= 3: 
        return 1

In [87]:
bin_nom_cat_data_df = nom_cat_data_df.applymap(bin_map)
bin_nom_cat_data_df.head()

   Medu  Fedu  famrel  freetime  goout  Dalc  Walc  health  G1
0     1     1       1         1      1     0     0       1   0
1     0     0       1         1      1     0     0       1   1
2     0     0       1         1      0     0     1       1   1
3     1     1       1         0      0     0     0       1   1
4     1     1       1         1      0     0     0       1   1

In [96]:
#### To learn causal graph from nominal categorical data 
from causalnex.structure.notears import from_pandas
import random

# Set the random seed for numpy
np.random.seed(42)

# Set the random seed for Python's built-in random module
random.seed(42)

sm = from_pandas(bin_nom_cat_data_df)

In [99]:
for node in sm.adjacency(): 
    print(node)

('Medu', {'Fedu': {'origin': 'learned', 'weight': 0.7015284945020264}, 'famrel': {'origin': 'learned', 'weight': 0.12577358914272121}, 'freetime': {'origin': 'learned', 'weight': 0.009753917043003045}, 'goout': {'origin': 'learned', 'weight': 5.71256916432792e-06}, 'Dalc': {'origin': 'learned', 'weight': 1.2135886682478552e-05}, 'Walc': {'origin': 'learned', 'weight': 1.0225133652302265e-05}, 'health': {'origin': 'learned', 'weight': 0.03222825764982956}, 'G1': {'origin': 'learned', 'weight': 0.43530288635843334}})
('Fedu', {'Medu': {'origin': 'learned', 'weight': 4.514877040444832e-06}, 'famrel': {'origin': 'learned', 'weight': 0.07134896604526003}, 'freetime': {'origin': 'learned', 'weight': 0.06027866590683115}, 'goout': {'origin': 'learned', 'weight': 1.721652913813937e-05}, 'Dalc': {'origin': 'learned', 'weight': 5.181921406940116e-05}, 'Walc': {'origin': 'learned', 'weight': 3.9608745572809956e-05}, 'health': {'origin': 'learned', 'weight': 0.046383275541905813}, 'G1': {'origin': 'learned', 'weight': 0.2682998453563913}})
('famrel', {'Medu': {'origin': 'learned', 'weight': 3.113094331024698e-05}, 'Fedu': {'origin': 'learned', 'weight': 1.8573498592611184e-05}, 'freetime': {'origin': 'learned', 'weight': 0.32858939156154177}, 'goout': {'origin': 'learned', 'weight': 4.833346949265772e-05}, 'Dalc': {'origin': 'learned', 'weight': 0.00012713731080017746}, 'Walc': {'origin': 'learned', 'weight': 0.00010656552010339539}, 'health': {'origin': 'learned', 'weight': 0.354051852904086}, 'G1': {'origin': 'learned', 'weight': 2.6170894322797687e-06}})
('freetime', {'Medu': {'origin': 'learned', 'weight': 0.00016073891776610083}, 'Fedu': {'origin': 'learned', 'weight': 5.2129346042835915e-05}, 'famrel': {'origin': 'learned', 'weight': 3.05959510813671e-06}, 'goout': {'origin': 'learned', 'weight': 3.890547833704053e-05}, 'Dalc': {'origin': 'learned', 'weight': 8.838716159454224e-05}, 'Walc': {'origin': 'learned', 'weight': 7.263026968634844e-05}, 'health': {'origin': 'learned', 'weight': 0.13425179315616742}, 'G1': {'origin': 'learned', 'weight': 1.0381310738424435e-05}})
('goout', {'Medu': {'origin': 'learned', 'weight': 0.699004459553119}, 'Fedu': {'origin': 'learned', 'weight': 0.1459134979411737}, 'famrel': {'origin': 'learned', 'weight': 0.18307451259861332}, 'freetime': {'origin': 'learned', 'weight': 0.26244417135019404}, 'Dalc': {'origin': 'learned', 'weight': 3.1968259797884055e-06}, 'Walc': {'origin': 'learned', 'weight': 3.0897488033290595e-06}, 'health': {'origin': 'learned', 'weight': -0.0449679095818487}, 'G1': {'origin': 'learned', 'weight': 0.33198878100073803}})
('Dalc', {'Medu': {'origin': 'learned', 'weight': -0.04931598792239908}, 'Fedu': {'origin': 'learned', 'weight': -0.015271048756442751}, 'famrel': {'origin': 'learned', 'weight': -0.0328483532605683}, 'freetime': {'origin': 'learned', 'weight': -0.013079477743432669}, 'goout': {'origin': 'learned', 'weight': 0.10696229113234049}, 'Walc': {'origin': 'learned', 'weight': 0.9185771928375189}, 'health': {'origin': 'learned', 'weight': 0.08590390641150107}, 'G1': {'origin': 'learned', 'weight': 0.01735071129603425}})
('Walc', {'Medu': {'origin': 'learned', 'weight': 0.1637362984993025}, 'Fedu': {'origin': 'learned', 'weight': 0.09361789042908228}, 'famrel': {'origin': 'learned', 'weight': 0.02675440789497914}, 'freetime': {'origin': 'learned', 'weight': 0.07012625672235444}, 'goout': {'origin': 'learned', 'weight': 0.8127029608192124}, 'Dalc': {'origin': 'learned', 'weight': 1.032123832375282e-06}, 'health': {'origin': 'learned', 'weight': 0.061752358727589614}, 'G1': {'origin': 'learned', 'weight': 0.11416051347836584}})
('health', {'Medu': {'origin': 'learned', 'weight': 0.00014113716722703875}, 'Fedu': {'origin': 'learned', 'weight': 6.544668612454579e-05}, 'famrel': {'origin': 'learned', 'weight': 3.0973278146088903e-06}, 'freetime': {'origin': 'learned', 'weight': 1.2500721761398948e-05}, 'goout': {'origin': 'learned', 'weight': 0.0002105818739728977}, 'Dalc': {'origin': 'learned', 'weight': 8.646611123607605e-05}, 'Walc': {'origin': 'learned', 'weight': 0.00027781786595622716}, 'G1': {'origin': 'learned', 'weight': 9.42198959309216e-06}})
('G1', {'Medu': {'origin': 'learned', 'weight': 9.599075148310105e-06}, 'Fedu': {'origin': 'learned', 'weight': 5.732526823509622e-06}, 'famrel': {'origin': 'learned', 'weight': 0.6408965348007276}, 'freetime': {'origin': 'learned', 'weight': 0.1940814744557364}, 'goout': {'origin': 'learned', 'weight': 1.9418099248496404e-05}, 'Dalc': {'origin': 'learned', 'weight': 4.7859825164433036e-05}, 'Walc': {'origin': 'learned', 'weight': 3.717719278823312e-05}, 'health': {'origin': 'learned', 'weight': 0.25371648576476585}})

In [100]:
sm.remove_edges_below_threshold(0.4)
viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)
viz.toggle_physics(False)
viz.show("graph_viz/0.4_bin_nom_cat.html")

graph_viz/bin_nom_cat.html

## Cat+Bin -> full binary

In [ ]:
### what will data fusion result in? 
### 1. using binary data only to create a graph

## Nominal Categorical; 
hypthesis: might not be meaningful results ...?