In [3]:
import pandas as pd

data = pd.read_csv('..\data\medical\insurance.csv')
data['charges'] = data['charges'] / 1000
data.head(5)

   age     sex     bmi  children smoker     region    charges
0   19  female  27.900         0    yes  southwest  16.884924
1   18    male  33.770         1     no  southeast   1.725552
2   28    male  33.000         3     no  southeast   4.449462
3   33    male  22.705         0     no  northwest  21.984471
4   32    male  28.880         0     no  northwest   3.866855

In [4]:
import numpy as np

struct_data = data.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

['sex', 'smoker', 'region']

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = le.fit_transform(struct_data[col])

struct_data.head(5)

   age  sex     bmi  children  smoker  region    charges
0   19    0  27.900         0       1       3  16.884924
1   18    1  33.770         1       0       2   1.725552
2   28    1  33.000         3       0       2   4.449462
3   33    1  22.705         0       0       1  21.984471
4   32    1  28.880         0       0       1   3.866855

In [6]:
from causalnex.structure.notears import from_pandas
sm = from_pandas(struct_data)

In [9]:
sm.remove_edges_below_threshold(0.5)
sm = sm.get_largest_subgraph()

In [10]:
from causalnex.plots import plot_structure, NODE_STYLE, EDGE_STYLE

viz = plot_structure(
    sm,
    all_node_attributes=NODE_STYLE.WEAK,
    all_edge_attributes=EDGE_STYLE.WEAK,
)

viz.toggle_physics(False)
viz.show('test-medical.html')

test-medical.html