In [2]:
import pandas as pd

data = pd.read_csv('data\medical\insurance.csv')
data.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
import numpy as np

struct_data = data.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

['sex', 'smoker', 'region']

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = le.fit_transform(struct_data[col])

struct_data.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [5]:
from causalnex.structure.notears import from_pandas
sm = from_pandas(struct_data, max_iter=10**6)

d:\anaconda3\envs\causalnex\lib\site-packages\causalnex\structure\notears.py:391: RuntimeWarning: overflow encountered in scalar multiply
  return loss + 0.5 * rho * h * h + alpha * h
d:\anaconda3\envs\causalnex\lib\site-packages\causalnex\structure\notears.py:407: RuntimeWarning: overflow encountered in multiply
  obj_grad = loss_grad + (rho * (np.trace(E) - d) + alpha) * E.T * W * 2
d:\anaconda3\envs\causalnex\lib\site-packages\causalnex\structure\notears.py:407: RuntimeWarning: invalid value encountered in multiply
  obj_grad = loss_grad + (rho * (np.trace(E) - d) + alpha) * E.T * W * 2
d:\anaconda3\envs\causalnex\lib\site-packages\causalnex\structure\notears.py:436: UserWarning: Failed to converge. Consider increasing max_iter.
  warnings.warn("Failed to converge. Consider increasing max_iter.")

In [ ]:
sm.remove_edges_below_threshold(0.7)
sm = sm.get_largest_subgraph()